.standings-wrapper {
  background: #1b1b1b;
  border-radius: 8px;
  padding: 1rem 0.75rem 0.5rem;
  font-size: 0.9rem;
  overflow: hidden;
  margin: 0.5rem;
}

.standings-grid {
  display: grid;
  /* 9 kolonner: pos | lag | 7 tall */
  grid-template-columns:
    1rem /* pos */
    minmax(5rem, 1fr) /* lag */
    repeat(7, minmax(1rem, 5rem)); /* resten */
  align-items: center;
  padding: 0.45rem 0rem;
  margin-bottom: 0.5rem;
}

.standings-grid > span {
  white-space: nowrap;
}

.standings-row {
  border-top: 1px solid #161616;
  padding: 0rem 0.1rem;
}

.standings-row.top {
  border-left: 2px solid #5dbc6f;
  margin-left: -0.75rem;
  padding-left: calc(0.4rem + 0.75rem - 3px);
}

.standings-row.middle {
  border-left: 2px solid transparent;
  margin-left: -0.75rem;
  padding-left: calc(0.4rem + 0.75rem - 3px);
}

.standings-row.bottom {
  border-left: 2px solid #ec564f;
  margin-left: -0.75rem;
  padding-left: calc(0.4rem + 0.75rem - 3px);
}

.standings-row:hover {
  background: #202020;
}

.team {
  display: flex;
  align-items: center;
}

.points {
  font-weight: bold;
}

@media (max-width: 600px) {
  .standings-wrapper {
    font-size: 0.75rem;
    margin: 0.2rem;
    margin-top: 1rem;
  }

  .standings-grid {
    column-gap: 1rem;
    text-align: left;
    grid-template-columns:
      0.1rem
      minmax(5rem, 1fr)
      1rem
      1rem
      1rem
      1rem
      2.2rem
      1rem
      1rem;
  }
  .standings-row {
    padding: 0;
    margin: 0;
  }
  .standings-header {
    font-size: 0.68rem;
  }
}
