.standings-wrapper {
  background: #1b1b1b;
  border-radius: 8px;
  padding: 0.5rem 0rem;
  font-size: 0.9rem;
  overflow: hidden;
  margin: 0.5rem;
}

.standings-grid {
  display: grid;
  /* 9 kolonner: pos | lag | 7 tall */
  grid-template-columns:
    1.5rem /* pos */
    minmax(5rem, 1fr) /* lag */
    repeat(7, minmax(1rem, 4rem)); /* resten */
  align-items: center;
  padding: 0.45rem 0.75rem;
  border-bottom: 1px solid #1212147f;
}

.standings-grid:first-child {
  padding-bottom: 0.75rem;
}

.standings_header_text {
  font-weight: bold;
  color: #ffffff9a;
  text-align: left;
}

.standings-grid > span {
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.standings-row {
  padding: 0rem 0.1rem;
}

.standings-row.top {
  padding-left: calc(0.4rem + 0.75rem - 3px);
  padding-right: 0.75rem;
  position: relative;
}

.standings-row.top::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  height: 90%;
  width: 3px;
  background: #5dbc6f;
  border-radius: 0 4px 4px 0;
}

.standings-row.middle {
  border-left: 2px solid transparent;
  padding-left: calc(0.4rem + 0.75rem - 3px);
  padding-right: 0.75rem;
}

.standings-row.bottom {
  padding-left: calc(0.4rem + 0.75rem - 3px);
  padding-right: 0.75rem;
  border-bottom: none;
  position: relative;
}

.standings-row.bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5%;
  height: 90%;
  width: 3px;
  background: #db3b3bff;
  border-radius: 0 4px 4px 0;
}

.standings-row:hover {
  background: #202020;
}

.team {
  display: flex;
  align-items: center;
}

.points {
  font-weight: bold;
}

.legend_container {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #ffffff9a;
  margin: 1rem 0;
  padding-left: 1rem;
}

.legend_section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legend_color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .standings-wrapper {
    font-size: 0.75rem;
    margin: 0.2rem;
  }

  .standings-grid {
    column-gap: 1rem;
    text-align: left;
    grid-template-columns:
      0.1rem
      minmax(5rem, 1fr)
      0.5rem
      0.5rem
      0.5rem
      0.5rem
      1.8rem
      0.7rem
      0.7rem;
  }
  .standings-row {
    padding: 0.3rem;
    margin: 0;
  }
  .standings-header {
    font-size: 0.68rem;
  }

  .legend_container {
    flex-direction: column;
    gap: 0.5rem;
  }
}
