.select-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.tabs-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.tabs-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tab {
  padding: 0 0 10px 0;
  cursor: pointer;
  font-weight: bold;
  transition: border-color 0.3s ease;
  color: gray;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.tab.active {
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #5dbc6f;
  border-radius: 4px 4px 0 0;
}

.tab.fantasy-tab {
  color: #9c27b0;
}

@media (max-width: 600px) {
  .tab {
    font-size: 0.85rem;
  }
  .tabs-left {
    gap: 1rem;
  }
}
